table{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

table td.col-normal {
    width: 12.5%;
}

table td.col-skinny {
}

.bold {
    font-weight: bold;
}

table input,
table select {
    width: fit-content;
}

#roll-all {
    padding: 10px;
    margin-bottom: 10px;
}