.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  height: 100vh;
  font-size: 1vmin;
  display: flex;
  flex-direction: column;
}

a {
  color: #61dafb;
}

select, input, button {
  font-size: inherit;
  text-align: center;
  border-radius: 0.2em;
}

.roll-4d6-drop-low-conditional {
  visibility: hidden;
}