.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
}

a {
  color: #61dafb;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

select, input, button {
  font-size: inherit;
  text-align: center;
  border-radius: 0.2em;
}

button {
  box-shadow: -2px 3px 2px #636e81;
  border-style: none;
}

button:active {
  transform: translateY(1px);
  box-shadow: none;
}

button:hover {
  background-color: rgb(182, 192, 194);
}

.roll-4d6-drop-low-conditional {
  visibility: hidden;
}