.Table table{
    max-width: 800px;
    margin: 0 auto;
}

.Table td {
    width: 12.5%;
    padding: 5px;
}

.header-row {
    font-weight: bold;
}

Table input,
Table select {
    width: 50px;
    font-size: inherit;
    border-radius: 10%;
}